@page "/"

@using GoodHamburger.Features.Produtos.Dtos
@inject HttpClient Http

    <PageTitle>Cardápio</PageTitle>

    <h1>Cardápio</h1>


    @if (!carregado)
    {
        <div class="d-flex justify-content-center mt-4">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Carregando...</span>
            </div>
        </div>
    }
    else if (produtos == null || !produtos.Any())
    {
        <p>Nenhum produto encontrado.</p>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
                <th>Categoria</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var produto in produtos)
            {
                <tr>
                    <td>@produto.Nome</td>
                    <td>@produto.Preco.ToString("C")</td>
                    <td>@produto.TipoProduto</td>
                </tr>
            }
            </tbody>
        </table>
    }

    @code
    {
        private List<ProdutoDto>? produtos = new();
        private bool carregado;
        private string? erro;


        protected override async Task OnInitializedAsync()
        {
            try
            {
                produtos = await Http.GetFromJsonAsync<List<ProdutoDto>>("http://localhost:5097/produtos");
            }
            catch (Exception ex)
            {
                erro = ex.Message;
            }
            finally
            {
                carregado = true;
            }
        }
    }
